*, *::after, *::before {box-sizing:border-box;}
html {font-size:62.5%;}
body {font-size:1.6rem; font-family:"Nunito Sans", sans-serif; color:#3e454c; background:#edf0f0;}
body::after {clear:both; content:""; display:table;}
a {color:#1784c7; text-decoration:none;}
input {font-family:"Nunito Sans", sans-serif; font-size:1.6rem;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {display:none;}
:focus, :active {outline:none;}

/* global */
.green {color:#96d758;}
.buttons {margin:18px 0;}
.buttons.center {text-align:center;}
.delete {position:absolute; height:16px; width:16px; background:url(../../modern/css/icons.svg) no-repeat -128px 0; overflow:hidden; text-indent:-999px; top:23%; right:10px;}
.hidden {display:none; padding-left:18px;}
.warning {clear:both; padding:18px 0 0 24px; position:relative; display:inline-block; color:#e3b95d; font-size:10pt; font-weight:300; line-height:12pt;}
.warning:before {content:''; display:block; position:absolute; left:0; top:18px; width:16px; height:16px; background:url(../../modern/css/icons.svg) no-repeat -144px 0;}
.cd-side-nav a.impressum {clear:both; display:block; font-size:7pt; font-weight:300; color:#646a6f; margin-top:20px;}
#facebox .content p {font-size:10pt; margin:1em 0; line-height:12pt;}
input.error, textarea.error {border:1px solid #f25555 !important;}
b {font-weight:700;}

/* grafs */
.grafs-text, .grafs-tips, .grafs-tooltip, .grafs-summary, .grafs-legend, .grafs-grid-title {font-family:"Nunito Sans", sans-serif;}

/* chartist */
.ct-series-a .ct-slice-donut {stroke:#3dbef9;}
.ct-series-b .ct-slice-donut {stroke:#3bd6ab;}
.ct-series-c .ct-slice-donut {stroke:#96d758;}
.ct-label {font-size:16px;}

/* chartist tooltip */
.chartist-tooltip {position:absolute; float:left; min-width:30px; max-width:300px; padding:4px 12px; border-radius:4px; background:rgba(255,255,255,.97); color:#444; font-size:12px; text-align:left; line-height:18px; box-shadow:0 1px 2px rgba(0, 0, 0,.3); pointer-events:none; opacity:0;}
.chartist-tooltip:after {position:absolute; left:50%; bottom:-6px; content:""; height:0; margin:0 0 0 -6px; border-right:5px solid transparent; border-left:5px solid transparent; border-top:6px solid rgba(255,255,255,.95); line-height:0;}
.chartist-tooltip.tooltip-show {opacity:1;}
.ct-area, .ct-line {pointer-events:none;}

/* facebox modal */
#facebox {position:absolute; top:0; left:0; z-index:100; text-align:left; display:none;}
#facebox .popup {display:block; position:relative; margin-bottom:50px;}
#facebox .content {background:#fff; border:1px solid; border-color:#eff0f1 #dfe0e4 #d0d1d5 #dfe0e4; border-radius:3px; width:400px;}
.close {position:absolute; top:0; right:0; padding:10px; opacity:.3; z-index:103;}
.close:hover {opacity:1;}
#facebox .loading {text-align:center; padding:100px; background:#fff;}
#facebox_overlay {position:fixed; top:0; left:0; height:100%; width:100%;}
.facebox_hide {z-index:-100;}
.facebox_overlayBG {background-color:#000; z-index:99;}

/* tablesorter */
table.tablesort thead th {position:relative; overflow:hidden;}
table.tablesort thead th:not(:last-child):after {position:absolute; content:''; width:13px; height:13px; top:33%; margin-left:8px; background:red; background:url(../../modern/css/cd-arrow.svg); background-size:100%; opacity:.5;}
table.tablesort thead th:hover:after {opacity:1;}
table.tablesort thead th.ascending:after {-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg);}

/* forms */
.cd-form {margin:0 18px 18px;}
.cd-form p {position:relative; margin:25px 0 8px; font-size:9pt;}
.cd-form .cancel {float:right; line-height:36px; font-size:12px; margin-right:18px;}
.cd-form input, .cd-form textarea, .cd-form select {font-family:"Nunito Sans", sans-serif; font-size:10pt; color:#2b3e51;}
.cd-form input[type="text"], .cd-form input[type="password"], .cd-form input[type="email"], .cd-form textarea, .cd-form select {width:100%; padding:8px; border:1px solid #cfd9db; background-color:#fff; border-radius:3px; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.08);}
.cd-form input[type="text"].small, .cd-form input[type="email"].small, .cd-form textarea.small, .cd-form select.small {width:15%;}
.cd-form input[type="text"].medium, .cd-form input[type="email"].medium, .cd-form textarea.medium, .cd-form select.medium {width:48%;}
select {cursor:pointer;}
.cd-form input[type="text"]:focus, .cd-form input[type="password"]:focus, .cd-form input[type="email"]:focus, .cd-form textarea:focus, .cd-form select:focus {outline:none; border-color:#1784c7; box-shadow:0 0 5px rgba(44, 151, 222, 0.2);}
.cd-form input[type=radio], .cd-form input[type=checkbox] {position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); margin:0; padding:0; opacity:0; z-index:2;}
.cd-form input[type="radio"] + label, .cd-form input[type="checkbox"] + label {cursor:pointer; padding-left:24px; font-size:9pt; padding-right:20px;}
.cd-form input[type="radio"] + label::before, .cd-form input[type="radio"] + label::after, .cd-form input[type="checkbox"] + label::before, .cd-form input[type="checkbox"] + label::after {content:''; display:block; position:absolute; left:0; top:50%; margin-top:-8px; width:16px; height:16px;}
.cd-form input[type="radio"] + label::before, .cd-form input[type="checkbox"] + label::before {border:1px solid #cfd9db; background:#fff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.08);}
.cd-form input[type="radio"] + label::before, .cd-form input[type="radio"] + label::after {border-radius: 50%;}
.cd-form input[type="checkbox"] + label::before, .cd-form input[type="checkbox"] + label::after {border-radius:3px;}
.cd-form input[type="radio"] + label::after, .cd-form input[type="checkbox"] + label::after {background-color:#2c97de; background-position:center center; background-repeat:no-repeat; box-shadow:0 0 5px rgba(44, 151, 222, 0.4); display:none;}
.cd-form input[type="radio"] + label::after {background-image:url("../../modern/css/cd-icon-radio.svg");}
.cd-form input[type="checkbox"] + label::after {background-image:url("../../modern/css/cd-icon-check.svg");}
.cd-form input[type="radio"]:focus + label::before, .cd-form input[type="checkbox"]:focus + label::before {box-shadow:0 0 5px rgba(44, 151, 222, 0.6);}
.cd-form input[type="radio"]:checked + label::after, .cd-form input[type="checkbox"]:checked + label::after {display:block;}
.cd-form input[type="radio"]:checked + label::before, .cd-form input[type="radio"]:checked + label::after, .cd-form input[type="checkbox"]:checked + label::before, .cd-form input[type="checkbox"]:checked + label::after {-webkit-animation:cd-bounce 0.3s; -moz-animation:cd-bounce 0.3s; animation:cd-bounce 0.3s;}
.cd-form textarea {min-height:200px; resize:vertical; overflow:auto;}
input[type="submit"], input[type="button"], .button {display:inline-block; padding:10px 40px; border:none; border-radius:3px; background-color:#1784c7; box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2); color:#fff; font-size:12px; font-weight:bold; cursor:pointer;}
input[type="submit"]:hover, input[type="button"]:hover, .button:hover {background-color:#1a93de;}
input.wait, input:hover.wait {background:url(../../modern/css/wait.gif) 50% no-repeat #1784c7; cursor:wait; overflow:hidden; color:#1784c7; text-shadow:none;}

/* animations */
@-webkit-keyframes cd-bounce {
	0%, 100% {-webkit-transform:scale(1);}
	50% {-webkit-transform:scale(0.8);}
}
@-moz-keyframes cd-bounce {
	0%, 100% {-moz-transform:scale(1);}
	50% {-moz-transform:scale(0.8);}
}
@keyframes cd-bounce {
	0%, 100% {-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1);}
	50% {-webkit-transform:scale(0.8); -moz-transform:scale(0.8); -ms-transform:scale(0.8); -o-transform:scale(0.8); transform:scale(0.8);}
}

/* boxes */
.box, .box.medium, .box.large {width:100%;}
.box {float:left; display:block; position:relative; overflow:hidden; background:#fff; margin:0 3% 3% 0; border-radius:3px;}

/*.box:nth-child(3) {margin-right:0;}*/
h2 {font-size:16px; font-weight:bold; text-transform:uppercase; margin:0; padding:18px 0 10px 18px;}
h2 span {font-weight:300; color:#888;}
h3 {font-size:8pt; font-weight:bold; text-transform:uppercase; margin:0; padding:20px 0 0 0; color:#3e454c;}
h3 a {color:#3e454c; border-bottom:1px dotted #3e454c;}

.box .grey {border-top:1px solid #f2f2f2; background:#f9fafa; padding:5%;}
.box .grey div {text-align:center; color:#acacac; font-size:12px; display:inline-block; width:32%;}
.box .grey p, .box .info {text-align:center; color:#acacac; font-size:13px; line-height:18px; margin:16px 0;}
.box .grey span, .box .info span {font-size:18px; color:#363636;}

table {width:100%; text-align:left; font-size:13px;}
table th {color:#acacac; cursor:pointer; line-height:40px;}
table td {position:relative;}
table td a {display:block; padding:10px 0;}
table tr:nth-child(even) {background:#f9fafa;}
table tr:hover:not(:nth-child(1)) {background:#f2f2f2;}
table th:nth-child(1), table td:nth-child(1) {text-indent:10px;}
table.queue th:nth-child(1), table.queue th:nth-child(6), table.queue td:nth-child(1), table.queue td:nth-child(6) {width:8%;}
table.queue th:nth-child(2), table.queue th:nth-child(5), table.queue td:nth-child(2), table.queue td:nth-child(5) {width:17%;}
table.queue th:nth-child(3), table.queue th:nth-child(4), table.queue td:nth-child(3), table.queue td:nth-child(4) {width:25%; overflow:hidden; overflow-x:auto;}


/*
ul.menu, ul.menu ul {list-style:none; padding:0;}
ul.menu li a {display:block; color:#fff; padding:10px 5px 10px 20px; text-decoration:none; color:#acacac; font-size:13px;}
ul.menu ul li a {display:block; color:#fff; padding:10px 5px 10px 50px; text-decoration:none; color:#acacac; font-size:12px;}
*/
.material-icons {font-size:17px; vertical-align:-4px; width:25px;}

/*main */
.cd-main-content .content-wrapper {padding:45px 5% 3em; background:#edf0f0;}
.cd-main-content .content-wrapper h1 {text-align:center; padding:3em 0; font-size:2rem;}
.cd-main-content::before {display:none; content:'mobile';}
@media only screen and (min-width:768px) {
	.cd-main-content .content-wrapper {margin-left:110px; padding-top:85px;}
	.cd-main-content .content-wrapper h1 {padding:4em 0; font-size:3.2rem; font-weight:300;}
	.cd-main-content::before {content:'tablet';}
}
@media only screen and (min-width:1170px) {
	.box {min-width:270px; width:22%;}
	.box.medium {width:47%;}
	.box.large {width:97%;}
	.cd-main-content .content-wrapper {margin-left:200px;}
	.cd-main-content::before {content:'desktop';}
}
/* header */
.cd-main-header {position:absolute; z-index:2; top:0; left:0; height:45px; width:100%; background:#3e454c; box-shadow:0 1px 3px rgba(0, 0, 0, 0.2); -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.cd-main-header::after {clear:both; content:""; display:table;}
@media only screen and (min-width:768px) {
	.cd-main-header {position:fixed; height:55px;}
}
.cd-logo {display:block; float:left; width:200px; height:100%; background:url(../../modern/css/paperplane.svg) 20% 45% no-repeat #1784c7; background-size:27%; line-height:55px; text-indent:45px; font-size:11pt; color:#fff; text-indent:80px;}
.action-btn form {text-align:center;}
.action-btn form input {padding:10px 40px;}
@media only screen and (max-width:1170px) {
	.cd-logo {width:110px; background-position:50% 45%; background-size:50%;}
	.cd-logo span {display:none;}
 	.action-btn form {margin:20px 0;}
	.action-btn form input {padding:10px;}
}
@media only screen and (max-width:768px) {
	.cd-logo {background-size:40%; background-color:transparent;}
 	.action-btn form {margin:0;}
}
.cd-nav-trigger {float:right; position:relative; display:block; width:34px; height:44px; margin-right:5%; overflow:hidden; white-space:nowrap; color:transparent;}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {position:absolute; display:inline-block; height:3px; width:24px; background:#ffffff;}
.cd-nav-trigger span {position:absolute; top:50%; right:5px; margin-top:-2px; -webkit-transition:background 0.2s; -moz-transition:background 0.2s; transition:background 0.2s;}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {content:''; right:0; -webkit-transform:translateZ(0); -moz-transform:translateZ(0); -ms-transform:translateZ(0); -o-transform:translateZ(0); transform:translateZ(0); -webkit-backface-visibility:hidden; backface-visibility:hidden; -webkit-transform-origin:0% 50%; -moz-transform-origin:0% 50%; -ms-transform-origin:0% 50%; -o-transform-origin:0% 50%; transform-origin:0% 50%; -webkit-transition:-webkit-transform 0.2s; -moz-transition:-moz-transform 0.2s; transition:transform 0.2s;}
.cd-nav-trigger span::before {top:-6px;}
.cd-nav-trigger span::after {top:6px;}
.cd-nav-trigger.nav-is-visible span {background:rgba(255, 255, 255, 0);}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {background:white;}
.cd-nav-trigger.nav-is-visible span::before {-webkit-transform:translateX(4px) translateY(-3px) rotate(45deg); -moz-transform:translateX(4px) translateY(-3px) rotate(45deg); -ms-transform:translateX(4px) translateY(-3px) rotate(45deg); -o-transform:translateX(4px) translateY(-3px) rotate(45deg); transform:translateX(4px) translateY(-3px) rotate(45deg);}
.cd-nav-trigger.nav-is-visible span::after {-webkit-transform:translateX(4px) translateY(2px) rotate(-45deg); -moz-transform:translateX(4px) translateY(2px) rotate(-45deg); -ms-transform:translateX(4px) translateY(2px) rotate(-45deg); -o-transform:translateX(4px) translateY(2px) rotate(-45deg); transform:translateX(4px) translateY(2px) rotate(-45deg);}
@media only screen and (min-width:768px) {
	.cd-nav-trigger {display:none;}
}
.cd-search {position:relative; margin:1.2em 5% 0.6em;}
.cd-search.is-hidden {opacity:0;}
.cd-search::before {content:''; position:absolute; left:8px; top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); height:16px; width:16px; background:url(../../modern/css/cd-search.svg) no-repeat 0 0;}
.cd-search input {padding-left:32px; width:100%; height:36px; border:none; border-radius:.25em; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none;}
.cd-search input:focus {outline:none;}
@media only screen and (min-width:768px) {
	.cd-search {float:left; display:inline-block; width:250px; height:100%; margin:0;}
	.cd-search.is-hidden {opacity:1;}
	.cd-search::before {background-position:0 -16px; left:1em;}
	.cd-search form, .cd-search input {height:100%; width:100%;}
	.cd-search input {border:none; padding-left:2.6em; border-radius:0; background-color:#3e454c; border-left:1px solid #51575d; color:#ffffff;}
	.cd-search input::-webkit-input-placeholder {color:#777c81;}
	.cd-search input::-moz-placeholder {color:#777c81;}
	.cd-search input:-moz-placeholder {color:#777c81;}
	.cd-search input:-ms-input-placeholder {color:#777c81;}
}
/* top nav */
.cd-nav {display:none;}
@media only screen and (min-width:768px) {
	.cd-nav {display:block; float:right; height:100%;}
}
.cd-top-nav > li > a::before {display:none;}
.cd-top-nav > li a {padding:1em 5% !important;}
.cd-top-nav img {position:absolute; left:1.8em; top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); height:20px; width:20px; border-radius:50%; display:none;}
@media only screen and (min-width:768px) {
	.cd-top-nav {height:100%;}
	.cd-top-nav a {display:block; font-size:1.4rem; color:#ffffff;}
	.cd-top-nav > li {display:inline-block; margin-right:1em; height:100%;}
	.cd-top-nav > li:last-of-type {margin-right:0;}
	.cd-top-nav > li a {padding:1em .6em !important;}
	.cd-top-nav img {display:block;}
}
@media only screen and (min-width:1170px) {
	.cd-top-nav li:not(.has-children) a:hover {color:#1784c7;}
}
/* sidebar */
.cd-side-nav {position:absolute; z-index:1; left:0; top:0; width:100%; padding:45px 0 0; background-color:#2c3136; visibility:hidden; opacity:0; max-height:100vh; overflow:hidden; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; -webkit-transition:opacity 0.2s 0s, visibility 0s 0.2s; -moz-transition:opacity 0.2s 0s, visibility 0s 0.2s; transition:opacity 0.2s 0s, visibility 0s 0.2s;}
.cd-side-nav.nav-is-visible {opacity:1; visibility:visible; overflow:visible; -webkit-overflow-scrolling:touch; -webkit-transition:opacity 0.2s 0s, visibility 0s 0s; -moz-transition:opacity 0.2s 0s, visibility 0s 0s; transition:opacity 0.2s 0s, visibility 0s 0s; max-height:none; box-shadow:0 2px 10px rgba(0, 0, 0, 0.2);}
.cd-side-nav > ul {padding:0.6em 0;}
.cd-side-nav > ul:last-of-type {padding-bottom:0;}
.cd-side-nav .cd-label, .cd-side-nav a {display:block; padding:1em 5%;}
.cd-side-nav .cd-label {text-transform:uppercase; font-weight:bold; color:#646a6f; font-size:1rem; letter-spacing:.1em;}
.cd-side-nav a {position:relative; color:#ffffff; font-size:1.4rem;}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {border-bottom:none;}
.cd-side-nav > ul > li > a {padding-left:calc(5% + 24px); border-bottom:1px solid #373d44;}
.cd-side-nav > ul > li > a::before {position:absolute; content:''; left:5%; top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); height:16px; width:16px; background:url(../../modern/css/icons.svg) no-repeat 0 0;}
.cd-side-nav > ul > li.status > a::before {background-position:0 0;}
.cd-side-nav > ul > li.domains > a::before {background-position:-16px 0;}
.cd-side-nav > ul > li.rules > a::before {background-position:-32px 0;}
.cd-side-nav > ul > li.settings > a::before {background-position:-48px 0;}
.cd-side-nav > ul > li.utilities > a::before {background-position:-64px 0;}
.cd-side-nav > ul > li.dns-blacklists > a::before {background-position:-80px 0;}
.cd-side-nav > ul > li.ip-ranges > a::before {background-position:-96px 0;}
.cd-side-nav .count {position:absolute; top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); right:calc(5% + 16px + 0.4em); padding:0.2em 0.4em; background-color:#ff7e66; border-radius:.25em; color:#ffffff; font-weight:bold; font-size:1.2rem; text-align:center;}
/*
.action-btn a {display:block; margin:0 5%; padding:1em 0; background-color:#1784c7; border-radius:.25em; border:none; box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2); text-align:center; color:#ffffff; font-weight:bold;}
.action-btn a::before {display:none;}
*/
@media only screen and (min-width:768px) {
	.cd-side-nav {position:relative; float:left; top:auto; width:110px; min-height:100vh; padding-top:55px; visibility:visible; opacity:1; overflow:visible; max-height:none;}
	.cd-side-nav.nav-is-visible {box-shadow:none;}
	.cd-side-nav.is-fixed {position:fixed;}
	.cd-side-nav > ul {padding:0;}
	.cd-side-nav .cd-label {display:none;}
	.cd-side-nav a {font-size:1.2rem; text-align:center;}
	.cd-side-nav > ul > li > a {padding:calc(2.2em + 24px) 0 2.4em;}
	.cd-side-nav > ul > li > a::before {left:50%; right:auto; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); top:2.4em;}
	.cd-side-nav .active > a {box-shadow:inset 3px 0 0 #1784c7; background-color:#33383e;}
	.cd-side-nav .action-btn a {margin:1em 10% 0;}
	.cd-side-nav .count {height:8px; width:8px; border-radius:50%; box-shadow:0 0 6px rgba(0, 0, 0, 0.2); padding:0; top:2em; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); left:calc(50% + 5px); right:auto; color:transparent;}
}
@media only screen and (min-width:1170px) {
	.cd-side-nav {width:200px;}
	.cd-side-nav > ul {padding:0.6em 0;}
	.cd-side-nav > ul > li:not(.action-btn):hover > a {background-color:#33383e;}
	.cd-side-nav > ul > li > a {padding:1em 1em 1em 42px; text-align:left; border-bottom:none;}
	.cd-side-nav > ul > li > a::before {top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); left:18px;}
	.cd-side-nav .cd-label {display:block; padding:1em 18px;}
	.cd-side-nav .action-btn {text-align:left;}
	.cd-side-nav .action-btn a {margin:0 18px;}
	.no-touch .cd-side-nav .action-btn a:hover {background-color:#1a93de;}
	.cd-side-nav .count {color:#ffffff; height:auto; width:auto; border-radius:.25em; padding:.2em .4em; top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); right:18px; left:auto; box-shadow:none;}
}
.has-children ul {position:relative; width:100%; display:none; background-color:#1c1f22;}
.has-children > a::after {position:absolute; content:''; height:16px; width:16px; right:5%; top:50%; bottom:auto; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%); background:url(../../modern/css/cd-arrow.svg);}
.has-children.selected > ul {display:block;}
.has-children.selected > a::after {-webkit-transform:translateY(-50%) rotate(180deg); -moz-transform:translateY(-50%) rotate(180deg); -ms-transform:translateY(-50%) rotate(180deg); -o-transform:translateY(-50%) rotate(180deg); transform:translateY(-50%) rotate(180deg);}
@media only screen and (min-width:768px) {
	.has-children {position:relative;}
	.has-children ul {position:absolute; top:0; left:100%; width:160px; padding:0; box-shadow:0 2px 10px rgba(0, 0, 0, 0.3);}
	.has-children ul a {text-align:left; border:none; padding:1em;}
	.no-touch .has-children ul a:hover {color:#1784c7;}
	.has-children > a::after {display:none;}
	.cd-side-nav .has-children.selected > a {background-color:#33383e;}
	.cd-top-nav .has-children {position:relative; background-color:#2c3136;}
	.cd-top-nav .has-children > a {height:100%; padding:0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important; line-height:55px;}
	.cd-top-nav .has-children > a::after {display:block; right:1.8em;}
	.cd-top-nav .has-children ul {background-color:#1c1f22; width:200px; top:100%; right:0; left:auto; box-shadow:0 1px 10px rgba(0, 0, 0, 0.2);}
	.cd-top-nav .has-children ul a {padding-left:18px !important;}
}
@media only screen and (min-width:1170px) {
	.has-children > ul {width:100%; z-index:1;}
	.has-children ul a {padding-left:42px; overflow:hidden; text-overflow:ellipsis;}
	.has-children.active > ul {position:relative; display:block; left:0; box-shadow:none;}
	.no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {display:block; opacity:1; visibility:visible;}
}